@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;

  @apply flex flex-col items-center; /*tailwind 문법을 사용함, flex설정, flex방향은 column, 아이템의 flex 가로방향 정렬은 center 설정 */
  @apply bg-zinc-900 text-gray-50; /* bg를 zinc색상 설정, text는 gray-50 설정 */
}

#root {
  @apply w-full max-w-screen-2xl; /* width는 full로 지정하지만 어느정도 너비 길어질 시 최대 너비는 2xl 설정*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
